@model Data.Entities.Integration

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete @Model.IntegrationName</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Integration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonitorUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonitorUser.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntegrationSettingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegrationSettingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntegrationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegrationName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IntegrationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
