@model Data.Entities.Integration

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Integration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonitorUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonitorUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntegrationSettingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegrationSettingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntegrationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegrationName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IntegrationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
