@model IEnumerable<Data.Entities.Dashboard>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard Overview</h1>

<div class="row col-md-12" style="margin-top: 25px;">
    <p>
        <a asp-action="Create" class="btn btn-primary" style="margin:5px 5px 5px 5px;">Create New</a>
    </p>
    <p>
        @* Will later become obsulete *@
        <a asp-action="RealTimeDashboard" class="btn btn-primary" style="margin:5px 5px 5px 5px;">Show Real Time Dashboard</a>
    </p>
</div>

@*Check to see if there is any dashboards, needs to be rewritting be better reflect how we want the dashboard overview to display the dashboards*@
@if (Model != null)
{    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DashboardName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DashboardSettingId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DashboardName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DashboardSettingId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td class="row">
                        <a asp-action="Edit" asp-route-id="@item.DashboardId"><span class="fas fa-edit"></span></a>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="@item.DashboardId" />                                       
                            <button type="submit"  style="color:red; background-color:transparent; border: none;" onclick="return confirm('Are you sure you want to delete this dashboard?')">
                                <i class="fas fa-trash"> </i>
                            </button>                            
                        </form>
                    </td>
                </tr>
                 
             }

        </tbody>
    </table>
}
