@model Data.Entities.Dashboard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dashboard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DashboardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DashboardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonitorUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonitorUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DashboardSettingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DashboardSettingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DashboardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
